html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

.gridTable td {
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gridTable thead {
  position: sticky;
  top: 0;
  z-index: 10;
}